{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1> Quarantine Message Board </h1>
<img src= "{{url_for('static', filename='Chillin at home.jpg')}}" alt= "chilling" id = "chilling">
<p class="info"> While we're all stuck inside for some indefinite amount of time, we all crave social contact to some degree. 
We created this thread to help with that! This message board is a perfect place to socialize with your friends, and discuss anything
you might want or feel when you're stuck inside like the rest of us. A quarantine thread, for all your quarantine needs! We hope you enjoy it!</p>

{% endblock %}
